html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
}

/* body {
    overflow: scroll;
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 100%;
    margin:0;
} */

/* #vditor {
    display: table-cell;
    outline: 0px solid transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.vditor {
    border-radius: 10;
    border: 0 solid #000;
    flex: 1;
}

.vditor-toolbar {
    border-bottom: 0 solid #000;
    height: 0;
}

.vditor-textarea {
    background-color: #fff;
}